# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3


# VSCode
.vscode/

# Environments
.env
.env.*
venv/
env/
ENV/



# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp
*.swo

# Coverage
htmlcov/
.coverage
.tox/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
